*{
box-sizing: border-box;
padding:0;
margin: 0;
}
.main-container{
max-width: 1200px;
margin: 0 auto;
position: relative;
}
.header-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
color: #555555;
}    
.header-wrapper {
display: flex;
justify-content: space-around;
}
.header-logo {
padding-top: 40px;
}
ul {
display: flex;
}
ul li {
display: flex;;
list-style: none;
padding: 40px
}
ul li a {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #555555;
text-decoration: none;
}
.burger-navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin: 0 10px;
  }
  
  .menu li a {
    color: #fff;
    text-decoration: none;
  }
  .burger {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1;
  }
  
  .burger__line {
    display: block;
    width: 25px;
    height: 3px;
    background-color: blueviolet;
    margin: 5px;
    transition: transform 0.2s ease-in-out;
  }
.container-software {
max-width: 1200px;
margin: 0 auto;
position: relative;
background: rgb(158,174,255);
background: radial-gradient(circle, rgba(158,174,255,1) 0%, rgba(236,214,219,1) 100%);
}
.content-software {
display: flex;
justify-content: space-between; 
padding: 80px;
}
.software-title{
max-width:  514px;
font-size: 56px;
color: #373636;
}
.software-paragraph{
width: 50%;
}
.software-text{
padding-top: 50px;
font-size: 24px;
color: #555151;
}
.software-mainphoto {
max-width: 1000px;
margin: 0 auto;

}
.service-container {
max-width: 1200px;
margin: 0 auto;
}
.service-content {
width: 100%;
height: 700px;
margin-top: -100px;
background: #0C1741;
}
.service-title {
padding: 105px;
width: 558px;
height: 90px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
color: #FFFFFF;
}
.service-text {
padding: 90px;
width: 561px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: rgba(255, 255, 255, 0.6);
}
.blue-ball {
width: 80px;
height: 80px;
background: #4A72FF;
border-radius: 50%;
}
.blue-ball-box {
width: 303px;
height: 280px;
}
.service-descriprion {
display: flex;
justify-content: space-around;
}
.ball-title {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #FFFFFF;
}
.ball-text {
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
color: rgba(255, 255, 255, 0.6);
}
.landing-container {
max-width: 1200px;
margin: 0 auto;
}
.blue-box{
position: relative;
width: 100%;
height: 484px;
background: #0C1741;
}
.white-box {
position: relative;
width: 100%;
height: 484px;    
}
.service-landing{
display: flex;
justify-content: space-around;
padding: 30px;
}
.white-box-software {
padding: 30px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #555151;
}
.white-box-custom {
padding: 30px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #555151;
}
.see-more-box {
padding: 90px;
}
.see-more {
width: 132px;
height: 48px;
background: #4A72FF;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #FFFFFF;
}
.service-smalltitle{
padding: 30px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #E5E5E5;
}
.service-bigtitle {
padding: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
color: #FFFFFF;
}
.white-stick {
padding: 40px;
}
.cirle-vector1 {
position: absolute;
left: 70px;
top: 240px
}
.cirle-vector2 {
position: absolute;
left: 70px;
top: 310px;
}
.cirle-vector3 {
position: absolute;
left: 70px;
top: 380px;
}
.comfort-service {
position: absolute;
left: 120px;
top: 243px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}
.money-back {
position: absolute;
left: 120px;
top: 313px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}
.more-good-service {
position: absolute;
left: 120px;
top: 383px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #FFFFFF;
}
.features-container {
max-width: 1200px;
margin: 0 auto;
}
.features-smalltitle {
padding-left: 80px; 
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
color: #4A72FF;
}
.features-bigtitle {
width: 560px;
height: 120px;
padding-left: 80px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
color: #373636;
}
.photo-content {
width: 100%;
height: 450px;
}
.features-content {
display: flex;
justify-content: space-around;
}

.quality-container {
max-width: 1200px;
margin: 0 auto;
}
.quality-service {
display: flex;
justify-content: space-around;
}
.quality-software {
width: 100%;
height: 410px;
}
.quality-content-photo {
padding: 25px;
width: 50%;
height: 410px;
}
.quality-smalltitle {
padding-top: 50px;
padding-left: 80px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
color: #4A72FF;
}
.quality-bigtitle {
padding-top: 30px;
padding-left: 80px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
color: #001F23;
}
.quality-description {
padding-top: 30px;
padding-left: 80px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #505253;
}
.costumers-sofware {
padding-left: 20px;
padding-top: 30px;
display: flex;
justify-content: space-around;
}
.number-employee {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
color: #4A72FF;
}
.employee-text {
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #505253;
}
.number-costmers {
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
color: #4A72FF;
}
.costumers-text {
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #505253;
}
.number-software{
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
color: #4A72FF;
}
.software-texts {
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 28px;
color: #505253;
}
.see-more-quality {    
width: 132px;
height: 48px;
background: #4A72FF;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
.click-see-more {
padding-top: 30px;
padding-left: 80px;
}
.FAQ-container {
max-width: 1200px;
margin: 0 auto;
}
.FAQ-titles{
display: flex;
justify-content: center;
padding-top: 370px;
}
.FAQ-bigtitle {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 40px;
line-height: 60px;
letter-spacing: -0.5px;
text-transform: capitalize;
color: #001F23;
}
.FAQ-smalltext {
display: flex;
justify-content: center;
padding: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
color: rgba(30, 16, 0, 0.71);
}
.marketing-box{
display: flex;
justify-content: center;
}
.marketing-help {
box-sizing: border-box;
width: 90%;
background: #FFFFFF;
border: 1px solid #DDDDDD;
}
.marketing-title {
padding: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #001F23;
}
.marketing-text{ 
padding-left: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: #AAAAAA;
}
.project-box {
padding-top: 15px;
display: flex;
justify-content: center;
}
.marketing-project {
box-sizing: border-box;
width: 90%;
background: #FFFFFF;
border: 1px solid #DDDDDD;
}
.project-title {
padding: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #001F23;
}
.compensation-box {
padding: 15px;
display: flex;
justify-content: center;
}
.compensation-accept {
box-sizing: border-box;
width: 90%;
background: #FFFFFF;
border: 1px solid #DDDDDD;
}
.compensation-title {
padding: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #001F23;
}
.light-cost-box {
padding: 15px;
display: flex;
justify-content: center;    
}
.light-cost {
box-sizing: border-box;
width: 90%;
background: #FFFFFF;
border: 1px solid #DDDDDD;
}
.cost-title {
padding: 30px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #001F23;  
}
.get-start-container {
max-width: 1200px;
margin: 0 auto;    
}
.get-start-box {
width: 100%;
height: 370px;
background: #0C1741;
}
.get-started-title {
padding: 45px;
display: flex;
justify-content: center;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
color: #FFFFFF;
}
.cooperate-text {
display: flex;
justify-content: center;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 180%;
text-align: center;
text-transform: lowercase;
color: rgba(255, 255, 255, 0.71);
}
.benefits-text {
display: flex;
justify-content: center;
justify-content: center;
font-family: 'Ubuntu';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 180%;
text-align: center;
text-transform: lowercase;
color: rgba(255, 255, 255, 0.71);
}
.click-getstarted {
width: 132px;
height: 48px;
background: #4A72FF;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #FFFFFF;
}
.button-getstarted {
padding: 15px;
display: flex;
justify-content: center;
}
.footer-box {
width: 100%;
background: #020A28;
}
.dark-blue-box{
display: flex;
justify-content: space-between;
}
.neet-content {
padding-left: 100px;
padding-top: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
color: #FFFFFF;
}
.neet-description {
padding-left: 100px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: rgba(255, 255, 255, 0.71);
}
.logo-box {
display: flex;
justify-content: space-around;
padding: 40px;
}

.links-contact {
display: flex;
justify-content: space-around;
padding: 100px;
}
.links-list p {
padding: 10px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #F4F4F4;
}
@media (max-width:1024px) {
    .main-container {
        width: 100%;
    }
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333;
        z-index: 0;
      }
      .menu li {
        margin: 10px;
      }
    
      .burger {
        display: block;
      }
    
      .burger.open .burger__line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
    
      .burger.open .burger__line:nth-child(2) {
        opacity: 0;
      }
    
      .burger.open .burger__line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    
     .nav-bar {
        display: none;
     }
    .content-software{
        width: 100%;
        flex-direction: column;
    }
    .software-title {
        max-width: 100%;
        font-size: 32px;
        }
    
    .software-text {
        width: 100%;
        font-size: 16px;
        
    } 
    .software-paragraph {
        width: 100%;
    }   
    .software-mainphoto {
        width: 100%;
    }   
    .in-main-photo {
        width: 100%;
    }
    .service-container {
        width: 100%;
    }
    .service-content {
        width: 100%;
        height: 220vh;
    }
    .service-title {
        width: 100%;
        font-size: 38px;

    }
    .service-text {
        width: 100%;
        padding-top: 190px;
    }
    .service-descriprion{
        width: 100%;
        flex-direction: column;
    }
    .blue-ball-box {
    padding-left: 100px;
    }
    .landing-container {
        width: 100%;
    }
    .blue-box {
        padding: 10px;
        width: 100%;
        height: 80vh;
    }
    .white-box {
        width: 100%;
        height: 110vh;
    }
    .service-landing {
    flex-direction: column;
    }
   
    .service-bigtitle {
        width: 100%;
        font-size: 20px;
    }
    .features-container {
        width: 100%;
        
    }
    .features-bigtitle {
        width: 100%;
        height: 20vh;
        padding: 20px;
    }
    .features-content {
        flex-direction: column;
        
    }
    .quality-container{
        width: 100%;
    }
    .quality-content-photo {
        display: none;
    }
    .quality-smalltitle {
        padding: 0;
    }
    .quality-bigtitle {
        padding-left: 0;
    }
    .quality-description {
        padding-left: 0;
    }
    .dark-blue-box {
        flex-direction: column;
    }
}